* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

nav {
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  margin-right: 30px;
}

.nav-links a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.hero {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 25px;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #1c1c1c;
}
.live-prices {
  font-size: 48px; /* Adjust the font size */
  font-weight: 700; /* Bold font weight */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #86c232; /* Your chosen color */
  font-family: 'Roboto', sans-serif; /* Apply the Roboto font */
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.container .coin-price{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  margin: 7px;
}
.coin-price{
  margin-bottom: 20%;
}
.container .coin-price .logo{
  width: 70px;
  margin-right: 10px;
}
.container .coin-price .logo img{
  width: 100%;
}
.container .coin-price div{
  display: block;
}
.container .coin-price div h1{
  font-size: 20px;
}


#live-prices {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 50px;
}
.personal-dashboard {
  
  background-color: #fff;
  padding: 50px;
}

.fixed-footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position;
  bottom: 0;
  left: 0;
  width: 100%;
}

.blurred-background {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  z-index: 0;
}

.blurred-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('res/money2.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the blur intensity as needed */
  opacity: 0.7; /* Adjust the overlay opacity as needed */
  z-index: -1;
}
.blurred-background2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  z-index: 0;
}

.blurred-background2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('res/money3.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  filter: blur(7px); /* Adjust the blur intensity as needed */
  opacity: 0.7; /* Adjust the overlay opacity as needed */
  z-index: -1;
}
#details
{ color: #EDC7B7;
  text-align: center;
}

.material-table {
  margin: 50px auto 0;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: #f5f5f5;
  width: 80%; /* Adjust the width as needed */
}

.material-table th, .material-table td {
  padding: 12px;
  border: 1px solid #ccc;
}

.material-table th {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.material-table td {
  text-align: center;
  color: black;
}

.material-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.refresh-button {
  background-color: #1c1c1c;
  color: #fff;
}

.live-market-button {
  background-color: #4CAF50;
  color: #fff;
}

.material-button:hover {
  background-color: #555;
}

.material-link {
  color: #2196F3;
  text-decoration: none;
  transition: color 0.3s;
}

.material-link:hover {
  color: #0D47A1;
}